.modal{
    z-index: 1;
}

.dateInput{
    width:70%;
}

.form-group .col-2{
    margin: 10px;
    text-align: center;
}

.form-control{
    padding-left:10px;
}
.col-form-label{
   padding-top: 20px; 
   font-weight: bold;
}